<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCqDj7twtvVxHFSvBL-505XZVhtFW84zd0</string>
	<key>GCM_SENDER_ID</key>
	<string>243473383824</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uz.iteach.student</string>
	<key>PROJECT_ID</key>
	<string>learning-platform-iteach</string>
	<key>STORAGE_BUCKET</key>
	<string>learning-platform-iteach.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:243473383824:ios:aca2bee12d758ec54f7315</string>
</dict>
</plist>